*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: inline-block;
    list-style: none;
    margin-bottom:0px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    height: 79px;
    
}
#img{
    margin: 10px;
    padding: 5px;
    display: inline-block;

}
li{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px; ;
}

#subsec3{
    display: flex;
    margin-top: 60px;
    background: linear-gradient(180deg, #B0DEE7 -35.78%, rgba(176, 222, 231, 0) 174.51%);
    justify-content: center;
}
#top{
   
    padding: 20px;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    background: linear-gradient(180deg, #B0DEE7 -35.78%, rgba(176, 222, 231, 0) 174.51%);
}

.btn{
    padding: 10px;
    margin: 10px;
    color: white;
    background: linear-gradient(93.24deg, #444BAB 0%, #3CA5C2 100%);
    border-radius: 6px;
    border-style: none;
    font-size: 20px;
}
#div{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
}

#form{
    background: #FFFFFF;
    border: 1px solid rgba(174, 178, 203, 0.22);
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 493px;
    height: 400px;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    margin-left: 200px;
}

#section2{
    display: flex;
    margin-top: 100px;

}

#grey{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    color: #444557;
}

#blue{
    color: blue;
    font-size: 60px;
}

#subsec{
    margin-left: 80px;
    padding: 15px;
}

#button{
    margin-left: 300px;
    margin-top: 10px;
   


}

#login{
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    color: #444BAB;
    
}

.font{
    font-family: poppins;
}
#name{
    width: 400px;
    height: 40px;
    left: 870px;
    top: 368px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
}
#email{
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
}

#number{
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
}

.cap{
    text-align: center;
    color: #4F516B;
    font-size: 24px;
}

#btn-large{
    width: 400px;
    height: 50px;
}

.gallery_image{
    width: 364px;
    height: 262px;
    background: url(.jpg), #D9D9D9;
    border-radius: 6px 6px 0px 0px;
}

#gallery{
    display: flex;
    margin-top: 55px;
}

#subsec4{
    margin-top: 50px;
}

#para{
    text-align: center;
    justify-content: center;
}
#learning{
    color: #4F516B;
    font-size: 30px;
}
.desc_para{
    color: #505050;
    font-size: 18px;
}
.image_gallery{  
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    width: 365px;
    height: 470px;
    margin-left: 100px;
    
}
.para_head{
    font-size: 24px;
    color: #4F516B;
    font-weight: 600;
    margin: 20px;
}
.para_content{
    font-weight: 400;
    font-size: 16px;
    color: #616161;
    margin: 20px;
}

.know_more{
    color: #444BAB;
    font-weight: 600;
    font-size: 20px;
    margin: 20px;
}